{% extends 'base.html' %}

{% block content %}

<div class="content-section">
	<fieldset class="form-group">
                <legend class="border-bottom mb-4"> Event Details</legend>
                <div class="form-group">
					<form name="start" action="/get_data" method="POST" style="width: 500px; margin: auto">
						<label>Enter Event1 Name: </label>
						<input type="text" name="name" class="form-control">
						<label>Enter the date: </label>
						<input type="date" name="date", class="form-control">
						<label>Enter Event2 Name: </label>
						<input type="text" name="name2" class="form-control">
						<label>Enter the date: </label>
						<input type="date" name="date2", class="form-control">
						<label>Enter Event3 Name: </label>
						<input type="text" name="name3" class="form-control">
						<label>Enter the date: </label>
						<input type="date" name="date3", class="form-control">
						<input class="btn btn-primary" type="submit" value="submit">
					</form>
				</div>
	</fieldset>				
</div>



{% endblock %}